<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillable Form</title>
</head>
<body>
    <h1>Instrument Log</h1>
<form method="POST">
    {% csrf_token %}
    <!-- The table tags below allows for the fields be lined up vertically. -->
    <table>
        <tr>
            <td><label for="id_model">Model:</label></td>
            <td>{{ form.model }}</td>
        </tr>
        <tr>
            <td><label for="id_sn">SN:</label></td>
            <td>{{ form.sn }}</td>
        </tr>
        <tr>
            <td><label for="id_temperature">Temperature:</label></td>
            <td>{{ form.temperature }}</td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>

</body>
</html>
